
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
	padding-top: 100px;
}

.carousel {
	max-width: 700px;
	margin: 0 auto;

	position: relative;
}
.carousel__inner-wrapper {
		overflow: hidden;
}
.carousel__inner {
  white-space: nowrap;
  font-size: 0;
  position: relative;
  transition: 0.2s;
  transition-timing-function: ease-in;
  left: 0;
}
.carousel__inner > *{
  display: inline-block;
  font-size: 16px;
}
.carousel__controls button {
    
    font-size: 42px;
    line-height: 40px;
    padding: 10px 10px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel__controls .next {
	right: -39px;
	border-left: none;
}
.carousel__controls .prev {
    left: -39px;
    border-right: none;
}
.carousel__play button {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.carousel button {
	cursor: pointer;
	color: #333;
	box-sizing: border-box;
	background: none;
	border: 3px solid pink;
	display: inline-block;
  font-family: Tahoma, sans-serif;
}
.carousel button:focus {
	outline: none;
}